%p PairExchange helps connect devs who are interested in #{ link_to 'pair programming', 'http://en.wikipedia.org/wiki/Pair_programming' }. Maybe you're interesting in learning a new language (programming or spoken!) or maybe you're looking to get your feet wet with some open source software but don't know where to begin.
