%h2 Pair Programming Resources

%ul
  %li
    =link_to 'RemotePairProgramming.com', 'http://remotepairprogramming.com/'
    %span A great collection of blog posts on remote pair programming by our own Joe Moore!
  %li
    =link_to 'Tmux', 'http://tmux.sourceforge.net/'
    %span Terminal multiplexer -- great for remote pair programming!
  %li
    =link_to 'Cloud9 Ide', 'http://c9.io'
    %span In the browser IDE
  %li
    =link_to 'Koding', 'http://koding.com'
    %span Another in the browser IDE
