%h1 Find Remote Pairs

%table
  %tr
    %th Posted
    %th Description

  - @listings.each do |listing|
    %tr
      %td
        %em= listing.updated_at.to_date
      %td= link_to listing.body, listing

%br

- if current_user
  = link_to 'Add Listing', new_listing_path
